
  
  @import './utils/fonts';
  @import './utils/variables';

  @import './base';

  @import './utils/utils';

  @import './components/buttons';
  @import './components/links';
  @import './components/carousel-button';
  @import './components/modal';
  @import './components/form';
  @import './components/section';

  @import './layouts/header';
  @import './layouts/hero';
  @import './layouts/advantages';
  @import './layouts/traditions';
  @import './layouts/chef';
  @import './layouts/formats';
  @import './layouts/contacts';
  @import './layouts/footer';

  @import './utils/mixins';
