.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .button:hover {
    background-color: transparent;
    color: var(--color-brand-normal);
  }
  
  .button:disabled {
    color: gray;
    background-color: lightgray;
    border-color: currentColor;
    cursor: not-allowed;
  }