.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    fill: var(--color-primary-dark);
    flex-shrink: 0;
  }
  
  .carousel-button.next {
    transform: rotate(180deg);
  }
  
  .carousel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
  }