.format-card {
  position: relative;
  padding: 24px;
  height: 444px;
  border: 1px solid lightgray;
  border-radius: 16px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      var(--color-primary-dark) 100%
    );
    z-index: 1;
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.05);
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &__title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
    z-index: 2;
  }

  &__text {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
    z-index: 2;
  }
}
