.contacts-section {
  padding-bottom: 48px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 24px;
  }
}
