.contacts-section {
    padding-bottom: 48px;
  }
  .contacts-title {
    margin-bottom: 16px;
  }
  
  .contact-container {
    display: flex;
    gap: 32px;
  }
  
  .contact-map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
  }