.footer {
    background-image: url("../images/footer-background.png");
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 32px 0;
    position: relative;
  }
  
  .footer::before,
  .footer::after {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
  }
  
  .footer::before {
    background-image: url("../images/decor-bread-small.png");
    width: 180px;
    height: 120px;
    left: 0;
  }
  
  .footer::after {
    background-image: url("../images/decor-bread-large.png");
    width: 380px;
    height: 190px;
    right: 0;
  }
  
  .footer-container {
    display: flex;
    gap: 20px;
  }
  
  .footer-nav,
  .footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }
  
  .footer-logo,
  .footer-menu {
    flex-grow: 1;
  }
  
  .address-list,
  .address-info {
    flex-grow: 1;
  }
  
  /* Address section */
  .address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }
  
  .address-link:hover {
    color: var(--color-brand-normal);
  }
  
  .address-copyright {
    font-size: 14px;
  }
  
  .address-icon {
    fill: var(--color-primary-light);
  }