  
  
  @import '../utils/mixins';

  .section {
    margin: 48px 0;

    &__title {
      font-size: 64px;
      font-weight: 900;
      line-height: 1.3;

      &--centered {
        text-align: center;
      }
    }
  }

  .circle {
    @include circle(100px, 100px, red);
  }  